# object files
*.o

# patched machine code
*.exe
*.dll
*.exe-pure
*.dll-pure

# PETool on unix
/petool

# Yuri's Revenge isn't freeware so don't include the game exe used as input
gamemd.dat
yr.dat
/yr/bin.dat

# configuration
config.mk

# misc junk
/yr/build_exe.bat
/yr/build_dll.bat
/yr/move_exe.bat
*~
\#*\#
