# object files
*.o

# patched machine code
*.exe
*.dll
*.exe-pure
*.dll-pure

# PETool on unix
/petool

# Yuri's Revenge isn't freeware so don't include the game exe used as input
gamemd.dat
ra2yr.dat
/ra2yr/bin.dat

# configuration
config.mk

# misc junk
*~
\#*\#
