#include "common.h"

#define VERSION xstr(CnC-Patch git~REV (off WW 1.0.0.1))

198 DIALOGEX 0, 0, 200, 100
STYLE 0x80000000l
EXSTYLE 0x00000020l
CAPTION ""
LANGUAGE 0x09, 0x01
FONT 8, "MS Sans Serif"
{
   CONTROL "This is a dialog of known size that is used to resize other dialogs.", -1, 0, 0x00000000l | 0x40000000l | 0x10000000l | 0x08000000l | 0x00020000l, 17, 23, 154, 23, 0x00000020
   CONTROL "Please don't change the size, and leave it as a popup, not a child!!!!", -1, 0, 0x00000000l | 0x40000000l | 0x10000000l | 0x08000000l | 0x00020000l, 14, 60, 157, 25, 0x00000020
}

104 CURSOR "ra2.cur"
93 ICON "ra2.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEOS 0x4
FILETYPE 0x1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "Comments", ""
            VALUE "CompanyName", "Westwood Studios"
            VALUE "FileDescription", "Main executable for Command & Conquer: Red Alert 2"
            VALUE "FileVersion", VERSION
            VALUE "InternalName", "RA2"
            VALUE "LegalCopyright", "Copyright © 2001 Westwood Studios"
            VALUE "LegalTrademarks", "Command & Conquer is a trademark of Westwood Studios"
            VALUE "OriginalFilename", "Sun.exe"
            VALUE "PrivateBuild", ""
            VALUE "ProductName", "Command & Conquer : Red Alert 2"
            VALUE "ProductVersion", VERSION
            VALUE "SpecialBuild", ""
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x04B0
    }
}
