#include <windows.h>

#include "dialog.rch"
#include "menu.rch"
#include "icon.rch"
#include "cursor.rch"

#define SUBTITLE     Red Alert 2
#define HARD_VERSION 1,0,1,1
#define SOFT_VERSION 1.11
#define YEAR         2001
#define ABBREVIATION RA2

#include "version.rch"
